<!DOCTYPE html>
<html>
    <head>
        <link href="css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="js/mui.min.js"></script>
        <link type="text/css" rel="stylesheet" href="css/index.css" />
    </head>

    <body>

    <div class="mui-container-fluid" >
        <br/>
        <div class="mui-row">
            <div class="mui-col-md-2">
                <form id="portConfigForm" name="portConfigForm">
                    <div class="row">
                        <h6 class="header orange-text">Serial Port Settings</h6>
                    </div>
                    <div class="row">
                        <div class="mui-select">
                            <select id="portName" name="portName">
                            </select>
                            <label>COMx</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mui-select">
                            <select id="baudrate" name="baudrate" onchange="baudrateSelected(this)">
                                <option value="4800">4800</option>
                                <option value="9600">9600</option>
                                <option value="19200">19200</option>
                                <option value="38400">38400</option>
                                <option value="57600">57600</option>
                                <option value="115200">115200</option>
                            </select>
                            <label>Baud Rate</label>
                        </div>
                    </div>
                    <div class="row">
                        <button id="open-port" class="mui-btn mui-btn--primary">OPEN</button>
                    </div>
                </form>
                <form action="#">
                    <p>
                        <input type="checkbox" id="hex" />
                        <label for="hex">HEX</label>
                    </p>
                    <p>
                        <input type="checkbox" id="period-send"/>
                        <label for="period-send">Period</label>
                    </p>
                    <div class="mui-textfield">
                        <input type="number"  min="0">
                        <label>Period Count</label>
                    </div>
                </form>
            </div>
            <div class="mui-col-md-10">
                    <div class="row">
                        <div class="mui-textfield mui-textfield--float-label">
                            <input id="tx" type="text" value="Value on load">
                            <label>tx</label>
                        </div>
                        <button id="send-btn" class="mui-btn mui-btn--primary">Send</button>   
                    </div>
                        <div class="mui-textfield mui-textfield--float-label">
                            <textarea id="rx" class="materialize-textarea" rows='8'>bbbbb</textarea>
                            <label for="rx">rx</label>
                        </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>


    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- normal script imports etc  -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>

    <script type="text/javascript">
        require('../src/index.js')
        var port = require('serialport')

        $(document).ready(function () {
            port.list(function (err, ports) {
                ports.forEach(function (port) {
                    var name = port.comName
                    var portNameSelect = $('select[name="portName"]')
                    var option = '<option value="' + name + '">' + name + '</option>'
                    $('#portName').append(option)
                })
            })
        });

        function baudrateSelected(select) {
            var selectedOption = select.options[select.selectedIndex];
            console.log(selectedOption.value);
        }
    </script>
</body>
</html>
