<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
    <!--Import jQuery before materialize.js-->
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <!-- normal script imports etc  -->
    <script src="js/jquery-3.1.0.min.js"></script>      
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;</script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <script type="text/javascript">
      var port = require('serialport')

      $(document).ready(function() {
        
        port.list(function(err, ports){
          ports.forEach(function(port){
            var name = port.comName
            var portNameSelect = $('select[name="portName"]')
            var option = '<option value="' + name + '">' + name + '</option>'
            $('#portName').append(option)            
          })
          $('select').material_select(); 
        })
        // $('select').material_select('destroy');
        // $('select').material_select();        
      });

      function baudrateSelected(select){
          var selectedOption = select.options[select.selectedIndex];
          console.log(selectedOption.value);
      }
    </script> 
  </head>

  <body>    
    <!--<a id="test" class="waves-effect waves-light btn">button</a>-->
    <div class="container">
      <div class="row center">
        <form id="portConfigForm" name="portConfigForm">
          <div class="row center">
            <h4 class="header col s12 orange-text">Serial Port Settings</h4>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <select id="portName" name="portName">
              </select>
              <label>COMx</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <select id="baudrate" name="baudrate" onchange="baudrateSelected(this)">
                <option value="4800">4800</option>
                <option value="9600">9600</option>
                <option value="19200">19200</option>
                <option value="38400">38400</option>
                <option value="57600">57600</option>
                <option value="115200">115200</option>
              </select>
              <label>Baud Rate</label>
            </div>
          </div>
          <div class="row">
            <a id="async-msg" class="waves-effect waves-light btn">Async</a>
            <a id="test-port" class="waves-effect waves-light btn">Test</a>
            <a id="add-item" class="waves-effect waves-light btn">Add</a>
          </div>
        </form>
      </div>
    </div>
    
    <script type="text/javascript">
      require('../src/serialconfig.js')
    </script>

    </body>
</html>